# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# Django
# ==============================
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# ML Model Files
# ==============================
*.joblib
*.h5
*.pt

# ==============================
# Node / Tailwind
# ==============================
node_modules/
dist/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# PyCharm
# ==============================
.idea/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db